In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import pandas as pd
from sqlalchemy import create_engine

yr_list= [2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015]

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load
CDI_data_to_load = "CDI_data.csv"

# Read the Population Health Data
CDI_data_pd = pd.read_csv(CDI_data_to_load, encoding="utf-8").fillna(0)

# Display the data table for preview
CDI_data_pd

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueTypeID,...,TopicID,QuestionID,ResponseID,LocationID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2013,2013,CA,California,YRBSS,Alcohol,Alcohol use among youth,0,%,CrdPrev,...,ALC,ALC1_1,0,6,OVERALL,OVR,0,0,0,0
1,2013,2013,CO,Colorado,YRBSS,Alcohol,Alcohol use among youth,0,%,CrdPrev,...,ALC,ALC1_1,0,8,OVERALL,OVR,0,0,0,0
2,2013,2013,CT,Connecticut,YRBSS,Alcohol,Alcohol use among youth,0,%,CrdPrev,...,ALC,ALC1_1,0,9,OVERALL,OVR,0,0,0,0
3,2013,2013,DC,District of Columbia,YRBSS,Alcohol,Alcohol use among youth,0,%,CrdPrev,...,ALC,ALC1_1,0,11,OVERALL,OVR,0,0,0,0
4,2013,2013,DE,Delaware,YRBSS,Alcohol,Alcohol use among youth,0,%,CrdPrev,...,ALC,ALC1_1,0,10,OVERALL,OVR,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237956,2012,2012,WI,Wisconsin,BRFSS,Older Adults,Proportion of older adults aged 50-64 years wh...,0,%,AgeAdjPrev,...,OLD,OLD3_2,0,55,RACE,MRC,0,0,0,0
237957,2012,2012,WY,Wyoming,BRFSS,Older Adults,Proportion of older adults aged 50-64 years wh...,0,%,AgeAdjPrev,...,OLD,OLD3_2,0,56,RACE,MRC,0,0,0,0
237958,2012,2012,GU,Guam,BRFSS,Older Adults,Proportion of older adults aged 50-64 years wh...,0,%,AgeAdjPrev,...,OLD,OLD3_2,0,66,RACE,MRC,0,0,0,0
237959,2012,2012,PR,Puerto Rico,BRFSS,Older Adults,Proportion of older adults aged 50-64 years wh...,0,%,AgeAdjPrev,...,OLD,OLD3_2,0,72,RACE,MRC,0,0,0,0
237960,2012,2012,VI,Virgin Islands,BRFSS,Older Adults,Proportion of older adults aged 50-64 years wh...,0,%,AgeAdjPrev,...,OLD,OLD3_2,0,78,RACE,MRC,0,0,0,0

In [2]:
# Extracting cancer data

topic_sorted_df = CDI_data_pd.groupby('Topic')
topic_sorted_df
cancer_df = topic_sorted_df.get_group('Cancer') 
cancer_df
cancer_df = cancer_df.sort_values('LocationDesc')
cancer_df[[]]

new_cancer_df = cancer_df[['LocationAbbr','LocationDesc','Topic',
                                        'Question','DataValueType','DataValue']].copy()
new_cancer_df

,LocationAbbr,LocationDesc,Topic,Question,DataValueType,DataValue
49892,AL,Alabama,Cancer,Recent Papanicolaou smear use among women aged...,Crude Prevalence,0
50608,AL,Alabama,Cancer,"Fecal occult blood test, sigmoidoscopy, or col...",Crude Prevalence,61.8
50607,AL,Alabama,Cancer,"Fecal occult blood test, sigmoidoscopy, or col...",Age-adjusted Prevalence,62.6
50606,AL,Alabama,Cancer,"Fecal occult blood test, sigmoidoscopy, or col...",Crude Prevalence,64
48310,AL,Alabama,Cancer,"Cancer of the prostate, mortality",Average Annual Age-adjusted Rate,26.4
...,...,...,...,...,...,...
48305,WY,Wyoming,Cancer,"Invasive cancer of the prostate, incidence",Average Annual Crude Rate,138.4
48304,WY,Wyoming,Cancer,"Invasive cancer of the prostate, incidence",Average Annual Age-adjusted Rate,127.1
48150,WY,Wyoming,Cancer,"Cancer of the oral cavity and pharynx, mortality",Average Annual Number,17
49865,WY,Wyoming,Cancer,Papanicolaou smear use among adult women aged ...,Crude Prevalence,0
53427,WY,Wyoming,Cancer,"Melanoma, mortality",Average Annual Number,18

In [3]:
# Cancer Incidence Values for Continental United States

incidence_df = new_cancer_df.loc[new_cancer_df['Question'] == 'Invasive melanoma, incidence']
# incidence_df

incidence_df = incidence_df.loc[incidence_df['DataValueType'] == 'Average Annual Number']
# incidence_df.set_index('LocationAbbr', inplace=True)
# incidence_df.to_csv('incidence.csv')
# incidence_df.drop(["AK", "HI", "US"], inplace = True) 
incidence_df = incidence_df[incidence_df['LocationAbbr'] != 'AK']
incidence_df = incidence_df[incidence_df['LocationAbbr'] != 'HI']
incidence_df = incidence_df[incidence_df['LocationAbbr'] != 'US']
incidence_df

,LocationAbbr,LocationDesc,Topic,Question,DataValueType,DataValue
53122,AL,Alabama,Cancer,"Invasive melanoma, incidence",Average Annual Number,1128
53128,AZ,Arizona,Cancer,"Invasive melanoma, incidence",Average Annual Number,1135
53125,AR,Arkansas,Cancer,"Invasive melanoma, incidence",Average Annual Number,534
53131,CA,California,Cancer,"Invasive melanoma, incidence",Average Annual Number,7740
53134,CO,Colorado,Cancer,"Invasive melanoma, incidence",Average Annual Number,1113
53137,CT,Connecticut,Cancer,"Invasive melanoma, incidence",Average Annual Number,902
53143,DE,Delaware,Cancer,"Invasive melanoma, incidence",Average Annual Number,293
53140,DC,District of Columbia,Cancer,"Invasive melanoma, incidence",Average Annual Number,49
53146,FL,Florida,Cancer,"Invasive melanoma, incidence",Average Annual Number,4692
53149,GA,Georgia,Cancer,"Invasive melanoma, incidence",Average Annual Number,2194
53158,ID,Idaho,Cancer,"Invasive melanoma, incidence",Average Annual Number,405
53161,IL,Illinois,Cancer,"Invasive melanoma, incidence",Average Annual Number,2399
53164,IN,Indiana,Cancer,"Invasive melanoma, incidence",Average Annual Number,1223
53155,IA,Iowa,Cancer,"Invasive melanoma, incidence",Average Annual Number,798
53167,KS,Kansas,Cancer,"Invasive melanoma, incidence",Average Annual Number,712
53170,KY,Kentucky,Cancer,"Invasive melanoma, incidence",Average Annual Number,1130
53173,LA,Louisiana,Cancer,"Invasive melanoma, incidence",Average Annual Number,714
53182,ME,Maine,Cancer,"Invasive melanoma, incidence",Average Annual Number,370
53179,MD,Maryland,Cancer,"Invasive melanoma, incidence",Average Annual Number,1272
53176,MA,Massachusetts,Cancer,"Invasive melanoma, incidence",Average Annual Number,1590
53185,MI,Michigan,Cancer,"Invasive melanoma, incidence",Average Annual Number,2053
53188,MN,Minnesota,Cancer,"Invasive melanoma, incidence",Average Annual Number,1530
53194,MS,Mississippi,Cancer,"Invasive melanoma, incidence",Average Annual Number,538
53191,MO,Missouri,Cancer,"Invasive melanoma, incidence",Average Annual Number,1177
53197,MT,Montana,Cancer,"Invasive melanoma, incidence",Average Annual Number,268
53206,NE,Nebraska,Cancer,"Invasive melanoma, incidence",Average Annual Number,356
53218,NV,Nevada,Cancer,"Invasive melanoma, incidence",Average Annual Number,0
53209,NH,New Hampshire,Cancer,"Invasive melanoma, incidence",Average Annual Number,400
53212,NJ,New Jersey,Cancer,"Invasive melanoma, incidence",Average Annual Number,2093
53215,NM,New Mexico,Cancer,"Invasive melanoma, incidence",Average Annual Number,406
53221,NY,New York,Cancer,"Invasive melanoma, incidence",Average Annual Number,3717
53200,NC,North Carolina,Cancer,"Invasive melanoma, incidence",Average Annual Number,2302
53203,ND,North Dakota,Cancer,"Invasive melanoma, incidence",Average Annual Number,158
53224,OH,Ohio,Cancer,"Invasive melanoma, incidence",Average Annual Number,2491
53227,OK,Oklahoma,Cancer,"Invasive melanoma, incidence",Average Annual Number,654
53230,OR,Oregon,Cancer,"Invasive melanoma, incidence",Average Annual Number,1140
53233,PA,Pennsylvania,Cancer,"Invasive melanoma, incidence",Average Annual Number,3045
53236,RI,Rhode Island,Cancer,"Invasive melanoma, incidence",Average Annual Number,252
53239,SC,South Carolina,Cancer,"Invasive melanoma, incidence",Average Annual Number,1144
53242,SD,South Dakota,Cancer,"Invasive melanoma, incidence",Average Annual Number,167
53245,TN,Tennessee,Cancer,"Invasive melanoma, incidence",Average Annual Number,1431
53248,TX,Texas,Cancer,"Invasive melanoma, incidence",Average Annual Number,3025
53254,UT,Utah,Cancer,"Invasive melanoma, incidence",Average Annual Number,742
53260,VT,Vermont,Cancer,"Invasive melanoma, incidence",Average Annual Number,215
53257,VA,Virginia,Cancer,"Invasive melanoma, incidence",Average Annual Number,1535
53263,WA,Washington,Cancer,"Invasive melanoma, incidence",Average Annual Number,1821
53271,WV,West Virginia,Cancer,"Invasive melanoma, incidence",Average Annual Number,464
53268,WI,Wisconsin,Cancer,"Invasive melanoma, incidence",Average Annual Number,1284
53274,WY,Wyoming,Cancer,"Invasive melanoma, incidence",Average Annual Number,135

In [4]:
# Cancer Mortality Values for Continental United States

mortality_df = new_cancer_df.loc[new_cancer_df['Question'] == 'Melanoma, mortality']
mortality_df

mortality_df = mortality_df.loc[mortality_df['DataValueType'] == 'Average Annual Number']
# mortality_df.set_index('LocationAbbr', inplace=True)
# mortality_df.to_csv('mortality.csv')
# mortality_df.drop(["AK", "HI", "US"], inplace = True) 
mortality_df = mortality_df[mortality_df['LocationAbbr'] != 'AK']
mortality_df = mortality_df[mortality_df['LocationAbbr'] != 'HI']
mortality_df = mortality_df[mortality_df['LocationAbbr'] != 'US']
mortality_df

,LocationAbbr,LocationDesc,Topic,Question,DataValueType,DataValue
53280,AL,Alabama,Cancer,"Melanoma, mortality",Average Annual Number,151
53286,AZ,Arizona,Cancer,"Melanoma, mortality",Average Annual Number,203
53283,AR,Arkansas,Cancer,"Melanoma, mortality",Average Annual Number,93
53289,CA,California,Cancer,"Melanoma, mortality",Average Annual Number,943
53292,CO,Colorado,Cancer,"Melanoma, mortality",Average Annual Number,161
53295,CT,Connecticut,Cancer,"Melanoma, mortality",Average Annual Number,106
53301,DE,Delaware,Cancer,"Melanoma, mortality",Average Annual Number,29
53298,DC,District of Columbia,Cancer,"Melanoma, mortality",Average Annual Number,7
53304,FL,Florida,Cancer,"Melanoma, mortality",Average Annual Number,728
53307,GA,Georgia,Cancer,"Melanoma, mortality",Average Annual Number,217
53265,ID,Idaho,Cancer,"Melanoma, mortality",Average Annual Number,55
53318,IL,Illinois,Cancer,"Melanoma, mortality",Average Annual Number,328
53321,IN,Indiana,Cancer,"Melanoma, mortality",Average Annual Number,215
53313,IA,Iowa,Cancer,"Melanoma, mortality",Average Annual Number,106
53324,KS,Kansas,Cancer,"Melanoma, mortality",Average Annual Number,93
53327,KY,Kentucky,Cancer,"Melanoma, mortality",Average Annual Number,151
53330,LA,Louisiana,Cancer,"Melanoma, mortality",Average Annual Number,105
53339,ME,Maine,Cancer,"Melanoma, mortality",Average Annual Number,51
53336,MD,Maryland,Cancer,"Melanoma, mortality",Average Annual Number,160
53333,MA,Massachusetts,Cancer,"Melanoma, mortality",Average Annual Number,219
53342,MI,Michigan,Cancer,"Melanoma, mortality",Average Annual Number,275
53345,MN,Minnesota,Cancer,"Melanoma, mortality",Average Annual Number,144
53351,MS,Mississippi,Cancer,"Melanoma, mortality",Average Annual Number,71
53348,MO,Missouri,Cancer,"Melanoma, mortality",Average Annual Number,208
53354,MT,Montana,Cancer,"Melanoma, mortality",Average Annual Number,36
53363,NE,Nebraska,Cancer,"Melanoma, mortality",Average Annual Number,63
53374,NV,Nevada,Cancer,"Melanoma, mortality",Average Annual Number,80
53266,NH,New Hampshire,Cancer,"Melanoma, mortality",Average Annual Number,42
53368,NJ,New Jersey,Cancer,"Melanoma, mortality",Average Annual Number,245
53371,NM,New Mexico,Cancer,"Melanoma, mortality",Average Annual Number,60
53377,NY,New York,Cancer,"Melanoma, mortality",Average Annual Number,484
53357,NC,North Carolina,Cancer,"Melanoma, mortality",Average Annual Number,296
53360,ND,North Dakota,Cancer,"Melanoma, mortality",Average Annual Number,17
53380,OH,Ohio,Cancer,"Melanoma, mortality",Average Annual Number,391
53383,OK,Oklahoma,Cancer,"Melanoma, mortality",Average Annual Number,130
53386,OR,Oregon,Cancer,"Melanoma, mortality",Average Annual Number,147
53389,PA,Pennsylvania,Cancer,"Melanoma, mortality",Average Annual Number,459
53392,RI,Rhode Island,Cancer,"Melanoma, mortality",Average Annual Number,32
53395,SC,South Carolina,Cancer,"Melanoma, mortality",Average Annual Number,135
53398,SD,South Dakota,Cancer,"Melanoma, mortality",Average Annual Number,22
53401,TN,Tennessee,Cancer,"Melanoma, mortality",Average Annual Number,213
53404,TX,Texas,Cancer,"Melanoma, mortality",Average Annual Number,544
53410,UT,Utah,Cancer,"Melanoma, mortality",Average Annual Number,79
16644,VT,Vermont,Cancer,"Melanoma, mortality",Average Annual Number,23
53413,VA,Virginia,Cancer,"Melanoma, mortality",Average Annual Number,239
53418,WA,Washington,Cancer,"Melanoma, mortality",Average Annual Number,209
53424,WV,West Virginia,Cancer,"Melanoma, mortality",Average Annual Number,76
53421,WI,Wisconsin,Cancer,"Melanoma, mortality",Average Annual Number,176
53427,WY,Wyoming,Cancer,"Melanoma, mortality",Average Annual Number,18

In [5]:
# Merge incidence and mortality dataframe to get the percentage of mortality
incidence_mortality_merge = incidence_df.merge(mortality_df, on="LocationAbbr")
incidence_mortality_merge.head()

,LocationAbbr,LocationDesc_x,Topic_x,Question_x,DataValueType_x,DataValue_x,LocationDesc_y,Topic_y,Question_y,DataValueType_y,DataValue_y
0,AL,Alabama,Cancer,"Invasive melanoma, incidence",Average Annual Number,1128,Alabama,Cancer,"Melanoma, mortality",Average Annual Number,151
1,AZ,Arizona,Cancer,"Invasive melanoma, incidence",Average Annual Number,1135,Arizona,Cancer,"Melanoma, mortality",Average Annual Number,203
2,AR,Arkansas,Cancer,"Invasive melanoma, incidence",Average Annual Number,534,Arkansas,Cancer,"Melanoma, mortality",Average Annual Number,93
3,CA,California,Cancer,"Invasive melanoma, incidence",Average Annual Number,7740,California,Cancer,"Melanoma, mortality",Average Annual Number,943
4,CO,Colorado,Cancer,"Invasive melanoma, incidence",Average Annual Number,1113,Colorado,Cancer,"Melanoma, mortality",Average Annual Number,161

In [6]:
# Filter only columns we need
incidence_mortality = incidence_mortality_merge[['LocationAbbr','LocationDesc_x','DataValue_x','DataValue_y']].copy()
incidence_mortality.head()

  LocationAbbr LocationDesc_x DataValue_x DataValue_y
0           AL        Alabama        1128         151
1           AZ        Arizona        1135         203
2           AR       Arkansas         534          93
3           CA     California        7740         943
4           CO       Colorado        1113         161

In [7]:
# Rename the columns
incidence_mortality.rename(columns = {'LocationAbbr': 'state_code',
                                      'LocationDesc_x': 'state_name',
                                      'DataValue_x': 'incidence_number',
                                      'DataValue_y': 'mortality_number'}, inplace = True)

In [8]:
incidence_mortality.head()

  state_code  state_name incidence_number mortality_number
0         AL     Alabama             1128              151
1         AZ     Arizona             1135              203
2         AR    Arkansas              534               93
3         CA  California             7740              943
4         CO    Colorado             1113              161

In [9]:
# Calculate mortality / incidence * 100 to get the percentage of mortality
incidence_mortality['incidence_number'] = pd.to_numeric(incidence_mortality['incidence_number'])
incidence_mortality['mortality_number'] = pd.to_numeric(incidence_mortality['mortality_number'])

incidence_mortality['mortality_%'] = (incidence_mortality['mortality_number'] / incidence_mortality['incidence_number'] * 100)
incidence_mortality.head()

  state_code  state_name  incidence_number  mortality_number  mortality_%
0         AL     Alabama              1128               151    13.386525
1         AZ     Arizona              1135               203    17.885463
2         AR    Arkansas               534                93    17.415730
3         CA  California              7740               943    12.183463
4         CO    Colorado              1113               161    14.465409

In [10]:
# Ignore Nevada value because it is undefined
incidence_mortality = incidence_mortality[incidence_mortality['state_code'] != 'NV']
incidence_mortality.head(50)

,state_code,state_name,incidence_number,mortality_number,mortality_%
0,AL,Alabama,1128,151,13.386525
1,AZ,Arizona,1135,203,17.885463
2,AR,Arkansas,534,93,17.415730
3,CA,California,7740,943,12.183463
4,CO,Colorado,1113,161,14.465409
5,CT,Connecticut,902,106,11.751663
6,DE,Delaware,293,29,9.897611
7,DC,District of Columbia,49,7,14.285714
8,FL,Florida,4692,728,15.515772
9,GA,Georgia,2194,217,9.890611
10,ID,Idaho,405,55,13.580247
11,IL,Illinois,2399,328,13.672363
12,IN,Indiana,1223,215,17.579722
13,IA,Iowa,798,106,13.283208
14,KS,Kansas,712,93,13.061798
15,KY,Kentucky,1130,151,13.362832
16,LA,Louisiana,714,105,14.705882
17,ME,Maine,370,51,13.783784
18,MD,Maryland,1272,160,12.578616
19,MA,Massachusetts,1590,219,13.773585
20,MI,Michigan,2053,275,13.395032
21,MN,Minnesota,1530,144,9.411765
22,MS,Mississippi,538,71,13.197026
23,MO,Missouri,1177,208,17.672048
24,MT,Montana,268,36,13.432836
25,NE,Nebraska,356,63,17.696629
27,NH,New Hampshire,400,42,10.500000
28,NJ,New Jersey,2093,245,11.705686
29,NM,New Mexico,406,60,14.778325
30,NY,New York,3717,484,13.021254
31,NC,North Carolina,2302,296,12.858384
32,ND,North Dakota,158,17,10.759494
33,OH,Ohio,2491,391,15.696507
34,OK,Oklahoma,654,130,19.877676
35,OR,Oregon,1140,147,12.894737
36,PA,Pennsylvania,3045,459,15.073892
37,RI,Rhode Island,252,32,12.698413
38,SC,South Carolina,1144,135,11.800699
39,SD,South Dakota,167,22,13.173653
40,TN,Tennessee,1431,213,14.884696
41,TX,Texas,3025,544,17.983471
42,UT,Utah,742,79,10.646900
43,VT,Vermont,215,23,10.697674
44,VA,Virginia,1535,239,15.570033
45,WA,Washington,1821,209,11.477210
46,WV,West Virginia,464,76,16.379310
47,WI,Wisconsin,1284,176,13.707165
48,WY,Wyoming,135,18,13.333333

In [29]:
incidence_mortality.count()

state_code          48
state_name          48
incidence_number    48
mortality_number    48
mortality_%         48
dtype: int64

In [31]:
incidence_mortality.describe()

       incidence_number  mortality_number  mortality_%
count         48.000000         48.000000    48.000000
mean        1352.833333        186.562500    13.757997
std         1374.016001        186.701822     2.386845
min           49.000000          7.000000     9.411765
25%          405.750000         62.250000    12.479828
50%         1129.000000        145.500000    13.390778
75%         1647.750000        217.500000    14.931995
max         7740.000000        943.000000    19.877676